<div class="container">
    <div class="jumbotron">
        <h3 class="page-header">Criterios</h3>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <p>Criterios seleccionados:</p>
                <ul class="list-group" >
                    <li class="list-group-item" data-ng-repeat="crit in criterioCtrl.criterios">{{crit.nombre}}</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#agregarCriterio">
                        <span class="glyphicon glyphicon-plus"> </span> Agregar criterio
                    </button>
                    <div id="agregarCriterio" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Introduzca un nuevo criterio</h4>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control" ng-model="criterioCtrl.nuevoCriterio"
                                           placeholder="Nuevo criterio">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success" data-dismiss="modal" ng-click="criterioCtrl.agregarCriterio()">Agregar</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" ng-click="criterioCtrl.limpiarCriterios()">
                        <span class="glyphicon glyphicon-trash"> </span> Limpiar criterios
                    </button>
                    <button ui-sref="index.busqueda.resultados" type="button" class="btn btn-warning btn-lg">
                        <span class="glyphicon glyphicon-search"> </span> Buscar
                    </button>
                </div>
            </div>
            <br>
        </div>
        <br>

    </div>
    <div ui-view="resultados"></div>
</div>