<div class="container-fluid">
    <div class="navbar-header">
        <a ng-show="$state.includes('index.busqueda') || $state.includes('index.ver_detalles')" class="navbar-brand" ui-sref="index.busqueda">Sistema de búsqueda de puntos de interés</a>
    </div>
<ul class="nav navbar-nav navbar-right">
    <li><a href="#">{{topbarCtrl.dameUsuarioSrv().nombreTerminal}}</a></li>
    <li><a ng-click="topbarCtrl.limpiarTodo()" ui-sref="index.login"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
</ul>
</div>