<div class="login">
    <div class="alert alert-info">
        Usuario: ADMIN<br>
        Contraseña: 123<br>
    </div>

    <div class="jumbotron">
        <h3 class="page-header">Bienvenido! <br> Por favor ingrese su nombre de usuario y su contraseña: <br>
            <small>Todos los campos son obligatorios</small>
        </h3>

        <form class="form-signin form-horizontal">
            <label for="inputUsuario" class="sr-only">Usuario</label>
            <input type="text" id="inputUsuario" ng-required="true" ng-model="loginCtrl.usuario" class="form-control" placeholder="Usuario" autofocus>
            <label ng-model="loginCtrl.usuario"></label>
            <label for="inputPass" class="sr-only">Contraseña</label>
            <input type="password" id="inputPass" ng-required="true" ng-model="loginCtrl.pass" class="form-control" placeholder="Contraseña">
            <label ng-model="loginCtrl.pass"></label>
            <div class="btn-group" role="group" style="padding-top: 15px">
                <a class="btn btn-lg btn-success" type="submit" ng-click="loginCtrl.loguearse()">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Ingresar
                </a>
                <button class="btn btn-lg btn-danger" type="reset">
                    <span class="glyphicon glyphicon-refresh"></span>
                    Limpiar
                </button>
            </div>
            <div>
                <div class="alert alert-danger" ng-show="loginCtrl.errorMessage" class="ng-hide">
                    {{loginCtrl.errorMessage}}
                </div>
            </div>
        </form>
    </div>

</div>