<body>
<div class="container">
    <div class="jumbotron" ng-init="valor=detalleCtrl.esFavorito(detalleCtrl.detalle.id)">
        <h2 class="page-header">{{detalleCtrl.detalle.nombre}}</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <td>Dirección:</td>
                    <td>{{detalleCtrl.detalle.direccion}}</td>
                </tr>
                <tr ng-show="detalleCtrl.hayDatos(detalleCtrl.detalle.servicios)" class="ng-hide">
                    <td>Servicios:</td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="servicio in detalleCtrl.detalle.servicios">
                                {{servicio}}
                            </li>
                        </ul>

                    </td>
                </tr>
                <tr ng-show="detalleCtrl.hayDatos(detalleCtrl.detalle.rubro)" class="ng-hide">
                    <td>Rubros:</td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item">
                                {{detalleCtrl.detalle.rubro.nombre}}
                            </li>
                        </ul>

                    </td>
                </tr>
                <tr ng-show="detalleCtrl.hayDatos(detalleCtrl.detalle.lineas)" class="ng-hide">
                    <td>Linea:</td>
                    <td>
                        <ul class="list-group" ng-repeat="linea in detalleCtrl.detalle.lineas">
                            <li class="list-group-item">
                                {{linea}}
                            </li>
                        </ul>

                    </td>
                </tr>
                <tr>
                    <td>
                        Distancia:
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        Calificación general:
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td style="padding: 0px">Favorito:</td>
                    <td>
                        <div class="checkbox" style="margin: auto">
                            <label><input type="checkbox" ng-change="valor=detalleCtrl.cambiarEstadoFav(detalleCtrl.detalle.id)" ng-model="valor" value=""></label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3>Deja tu opinión!</h3>
        <div class="row vertical-align" style="padding-bottom: 20px">
                <div class="col-md-12">
                    <label for="comentario">Comentarios:</label>
                    <textarea class="form-control" rows="3" id="comentario"></textarea>
                </div>
                <div class="col-md-8">
                    <label for="estrellas">Seleccione la calificación deseada:</label>
                    <select class="form-control center-block" id="estrellas" style="width: auto">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
        </div>
        <a  class="btn btn-success" type="submit" ng-click="detalleCtrl.actualizarDetallesVista(detalleCtrl.dameUsuarioSrv())">
            <span class="glyphicon glyphicon-ok-circle"> </span> Enviar
        </a>
    <h3>Opiniones</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="center">
                <th>
                    Usuario
                </th>
                <th>
                    Comentario
                </th>
                <th>
                    Calificación
                </th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
        <a ui-sref="index.busqueda.resultados" class="btn btn-danger">
            <span class="glyphicon glyphicon-menu-left"> </span> Volver
        </a>
</div>
</div>
</body>