<div class="container">
    <div class="jumbotron" ng-init="valor=detalleCtrl.esFavorito(detalleCtrl.detalle.id)">
        <h2 class="page-header">{{detalleCtrl.detalle.nombre}}</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <td>Dirección:</td>
                    <td>{{detalleCtrl.detalle.direccion}}</td>
                </tr>
                <tr ng-show="detalleCtrl.hayDatos(detalleCtrl.detalle.listaServicios)" class="ng-hide">
                    <td>Servicios:</td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="servicio in detalleCtrl.detalle.listaServicios">
                                {{detalleCtrl.verificarServicio(servicio)}}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr ng-show="detalleCtrl.hayDatos(detalleCtrl.detalle.rubro)" class="ng-hide">
                    <td>Rubros:</td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item">
                                {{detalleCtrl.detalle.rubro.nombre}}
                            </li>
                        </ul>

                    </td>
                </tr>
                <tr ng-show="detalleCtrl.hayDatos(detalleCtrl.detalle.lineas)" class="ng-hide">
                    <td>Linea:</td>
                    <td>
                        <ul class="list-group" ng-repeat="linea in detalleCtrl.detalle.lineas">
                            <li class="list-group-item">
                                {{linea}}
                            </li>
                        </ul>

                    </td>
                </tr>
                <tr>
                    <td>
                        Distancia:
                    </td>
                    <td>
                        {{detalleCtrl.calcularDistancia(detalleCtrl.detalle)}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Calificación general:
                    </td>
                    <td>
                        {{detalleCtrl.calcularCalificacionGeneral(detalleCtrl.detalle)}}
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0px">Favorito:</td>
                    <td>
                        <div class="checkbox" style="margin: auto">
                            <label><input type="checkbox"
                                          ng-change="valor=detalleCtrl.cambiarEstadoFav(detalleCtrl.detalle)"
                                          ng-model="valor" value=""></label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3>Deja tu opinión!</h3>
            <div class="row vertical-align" style="padding-bottom: 20px">
                <div class="col-md-12">
                    <label for="comentario">Comentarios:</label>
                    <textarea class="form-control" rows="3" id="comentario"
                              ng-model="detalleCtrl.comentario"></textarea>
                </div>
                <div class="col-md-8">
                    <label for="estrellas">Seleccione la calificación deseada:</label>
                    <select class="form-control center-block" id="estrellas" ng-model="detalleCtrl.calificacion"
                            style="width: auto">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="container">
                <button type="button" class="btn btn-success"
                        ng-click="detalleCtrl.actualizarDetallesVista(detalleCtrl.detalle,detalleCtrl.dameUsuarioSrv(),detalleCtrl.comentario,detalleCtrl.calificacion)"
                        data-toggle="modal"
                        data-target="#popUp">
                    <span class="glyphicon glyphicon-ok-circle"> </span> Enviar
                </button>
                <div id="popUp" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>Enviado al servidor</p>
                            </div>
                            <div class="modal-footer">
                                <center>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron">

        <div class="container">
            <button type="button" class="btn btn-success"
                    ui-sref="index.ver_detalles.opinion">
                <span class="glyphicon glyphicon-chevron-down"> </span> Mostrar comentarios de otros usuarios
            </button>
        </div>
        <div ui-view="opinion"></div>
    </div>

    <div class="container">
        <a ui-sref="index.busqueda.resultados" class="btn btn-danger">
            <span class="glyphicon glyphicon-menu-left"> </span> Volver
        </a>
    </div>
</div>
